<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            @Html.ActionLink("Identification", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>*@
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Home", new {area="" })">Accueil</a> </li>
                    @if (User.IsInRole("Encodeur"))
                    {
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Create","Record",new { area="Identification" })">Identification</a> </li>
                    }
                    @if (User.IsInRole("Verificateur"))
                    {
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Verification", new { area=""})">Vérification</a> </li>
                    }
                    @if (User.IsInRole("AlertExpiration"))
                    {
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Default", new { area = "AlerteExpiration" })">Alerte d'expiration</a> </li>
                    }
                    @if (User.IsInRole("RapportIdentification"))
                    {
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Default",new { area="RapportIdentification" })">Rapport d'identification</a> </li>
                    }
                    @if (User.IsInRole("RapportDeplacement"))
                    {
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Default",new { area="RapportDeplacement" }):">Rapport de déplacement</a> </li>
                    }
                    @if (User.IsInRole("Configurateur"))
                    {
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Default",new { area="Configuration" })">Configuration</a> </li>
                    }
                    @* <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="alert alert-danger alert-dismissible m-1" role="alert">
                        <div> @TempData["ErrorMessage"]</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        }
        @RenderBody()

        <hr />

        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Gouvenement Provincial du Haut-Katanga</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            language: 'fr'
            // startDate: '-d'
        });
        $('.datepickerafter').datepicker({
            format: 'dd/mm/yyyy',
            startDate: '-d',
            language: 'fr'
        });
        $('.datepickerbefore').datepicker({
            format: 'dd/mm/yyyy',
            endDate: '+d',
            language: 'fr'
        })
    </script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
