@model IEnumerable<StrangerRecord.Models.Entity.Carte>
@using StrangerRecord.Service
@{
    ViewBag.Title = "Verification";
}

<div class="p-5">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Index", "Verification", FormMethod.Get))
    {
        <div class="row justify-content-center mt-3">
            <div class="col-5">
                <input name="q" value="@ViewBag.q" type="text" class="form-control" placeholder="Verifier" />
            </div>
            <div class="col-1">
                <h4>par</h4>
            </div>
            <div class="col-3">
                <select name="type" class="form-select">
                    <option value="nom" @( ViewBag.type == "nom" ? "selected" : "")>Nom</option>
                    <option value="numcarte" @( ViewBag.type == "numcarte" ? "selected" : "")> Numero de carte</option>
                    <option value="numpassport" @( ViewBag.type == "numpassport" ? "selected" : "")> Numero de passeport</option>
                </select>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary">Verifier</button>
            </div>
        </div>
    }

    @if (Model.Count() > 0)
    {

<div class="mt-3">
    <div class="m-3"> @Model.Count() resultat(s)</div>
    <div class="small m-2 text-center">Cette verification est limitée à 50 resultats. Si vous voulez consulter plus de données, référez-vous au module de <strong>Rapport de fréquentation</strong>.</div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Numero de la carte</th>
                <th>Detenteur</th>
                <th>Pays d'origine</th>
                <th>Passeport</th>
                <th>Sejour en cours</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 0;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>@{i++; } @i </td>
                    <td>
                        @item.numero    @Html.Partial("_ExpirationEtat", item.Expired)  
                    </td>
                    <td>@item.Identification.ToString()</td>
                    <td>@item.Identification.pays_origine</td>
                    <td>@item.passeport_numero     @Html.Partial("_ExpirationEtat", item.PassePortExpired) </td>
                    @{ var sejour = DataProvider.GetLastSejour(item.identification_id); }
                    <td>@sejour.ToString()  @Html.Partial("_ExpirationEtat", sejour.Expired) </td>
                    <td>
                        <a href="@Url.Action("Details","Record", new { id = item.identification_id, area="Identification" })" class="btn btn-sm btn-outline-primary">Details &raquo;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    }


</div>


