@{
    ViewBag.Title = "Accuiel";
}

    <div class="container pt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem; height:11rem;">
                    <div class="card-body">
                        <h5 class="card-title">Identification</h5>
                        <p class="card-text"> Indentification de nouvelles personnes. </p>
                        <a href="@(User.IsInRole("Encodeur")?Url.Action("Create","Record",new { area="Identification" }):"#")" class="btn btn-@(User.IsInRole("Encodeur")?"primary":"light") w-100">Acceder &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem; height:11rem;">
                    <div class="card-body">
                        <h5 class="card-title">Verification</h5>
                        <p class="card-text">Vérification des cartes, affichage et modification des informations.</p>

                        <a href="@(User.IsInRole("Verificateur")?Url.Action("Index","Verification"):"#") " class="btn btn-@(User.IsInRole("Verificateur")?"primary":"light") w-100">Acceder &raquo;</a>
                    </div>
                </div>
            </div>  <div class="col-md-4">
                <div class="card" style="width: 18rem; height:11rem;">
                    <div class="card-body">
                        <h5 class="card-title">Alerte d'expiration</h5>
                        <p class="card-text">Rapport d'expiration des cartes, passeports et visas.</p>
                        <a href="@(User.IsInRole("AlertExpiration")?Url.Action("Index","Default",new { area="AlerteExpiration" }):"#")" class="btn btn-@(User.IsInRole("AlertExpiration")?"primary":"light") w-100">Acceder &raquo;</a>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card" style="width: 18rem; height:11rem;">
                    <div class="card-body">
                        <h5 class="card-title">Rapport d'identification</h5>
                        <p class="card-text"> Historique et liste d'enregistrement des personnes identifiées.</p>
                        <a href="@(User.IsInRole("RapportIdentification")?Url.Action("Index","Default",new { area="RapportIdentification" }):"#") " class="btn btn-@(User.IsInRole("RapportIdentification")?"primary":"light") w-100">Acceder &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem; height:11rem;">
                    <div class="card-body">
                        <h5 class="card-title">Rapport des Deplacements</h5>
                        <p class="card-text">Historique des déplacements  des personnes identifiées.</p>
                        <a href="@(User.IsInRole("RapportDeplacement")?Url.Action("Index","Default",new { area="RapportDeplacement" }):"#")" class="btn btn-@(User.IsInRole("RapportDeplacement")?"primary":"light") w-100">Acceder &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem; height:11rem;">
                    <div class="card-body">
                        <h5 class="card-title">Configuration</h5>
                        <p class="card-text"> Configuration de base: utilisateurs, centres d'identification, etc.</p>
                        <a href="@(User.IsInRole("Configurateur")?Url.Action("Index","Default",new { area="Configuration" }):"#") " class="btn btn-@(User.IsInRole("Configurateur")?"primary":"light") w-100">Acceder &raquo;</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
 