@model StrangerRecord.Models.Entity.Carte
@using StrangerRecord.Service 
@using StrangerRecord.Models.ViewModel;
<div class="card mb-1">
    <div class="card-header">
        <div class="text-end float-end">
            <a href="@Url.Action("Apercu","Carte", new { id=Model.id, area="Identification"})" class="btn btn-outline-primary btn-sm mr-1 ">Apperçu</a>
            @if (!Model.Archived)
            {
                <a href="@Url.Action("Edit","Carte", new { id=Model.id, area="Identification"})" class="btn btn-outline-primary btn-sm mr-1 ">Modifier</a>
            }
            @if (Model == DataProvider.GetLastCarte(Model.identification_id))
            {
                <a href="@Url.Action("Create","Carte", new { id= Model.identification_id, area="Identification"})" class="btn btn-outline-primary btn-sm">Renouveler</a>
            }
        </div>
        <h5 class="card-title">Carte</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4 text-center">
                @Html.Partial("_PhotoLarge", new DisplayPhotoViewModel { Picture = Model.PictureString, PictureFormat = Model.picture_format  } )
                <div class=" p-1">
                    @if (!Model.Archived)
                    {
                        <a href="@Url.Action("UploadPicture","Carte", new { id=Model.id, area ="Identification" })" class="btn btn-outline-primary btn-sm">Envoyer</a>
                        <a href="@Url.Action("UploadPicture","Carte", new { id=Model.id, area ="Identification" })" class="btn btn-outline-primary btn-sm">Captuer</a>
                    }
                </div>
            </div>
            <div class="col-8">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>Numero</td>
                            <td class="fw-bold">@Model.numero</td>
                        </tr>
                        <tr>
                            <td>Validité </td>
                            <td class="fw-bold">
                                Du @Model.date_delivrance.ToShortDateString()
                                Au @Model.date_expiration.ToShortDateString()

                                @Html.Partial("_ArchiveEtat", Model.Archived)
                                @if (!Model.Archived) { Html.Partial("_ExpirationEtat", Model.Expired); }
                            </td>
                        </tr>
                        <tr>
                            <td>Adresse de residence</td>
                            <td class="fw-bold">
                                Ville : @Model.Commune.ville.designation,
                                Commune : @Model.Commune.designation
                                @(Model.adresse_quartier != null ?", Quartier : "+ Model.adresse_quartier: " ")
                                @(Model.adresse_avenue != null ?", Avenue : "+ Model.adresse_avenue : " ")
                                @(Model.adresse_numero != null ?" No "+ Model.adresse_numero: " ")

                            </td>
                        </tr>

                        <tr>
                            <td>Passeport</td>
                            <td>
                                @Html.Partial("_ExpirationEtat", Model.PassePortExpired)
                                <div class="small">
                                    Type : <span class="fw-bold">@Model.TypePasseport</span><br />
                                    Numero : <span class="fw-bold">@Model.passeport_numero </span><br />
                                    Expiration : <span class="fw-bold">@Model.passeport_exp_date.ToShortDateString()</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Visa</td>
                            <td>
                                @Html.Partial("_ExpirationEtat", Model.VisaExpired)
                                <div class="small">
                                    Type : <span class="fw-bold">@Model.TypeVisa</span><br />
                                    Numero : <span class="fw-bold"> @Model.visa_numero</span><br />
                                    Expiration : <span class="fw-bold"> @Model.visa_exp_date.ToShortDateString() </span>
                                </div>
                            </td>
                        </tr> 
                    </tbody>
                </table>
               
                @*<div class="small text-end">
                    <div>Date d'enregistrement :<span class="fw-bold"> @Model.created_at.ToShortDateString() @Model.created_at.ToShortTimeString()</span> </div>
                    <div>Centre d'identification :<span class="fw-bold"> @Model.Centre.designation</span></div>
                    <div>Chef de centre :<span class="fw-bold"> @Model.Centre.chef_centre</span></div>
                    <div>Encodeur :<span class="fw-bold"> @Model.Encodeur.FullName</span> </div>
                </div>*@

            </div>
        </div>
    </div>
</div>