@model StrangerRecord.Models.Entity.Sejour

<div class="card ">
    <div class="card-header">
        <div class="text-end float-end">
            <button class="btn btn-outline-primary btn-sm mr-1 ">Modifier</button> 
            <button class="btn btn-outline-primary btn-sm">Renouveler</button>
        </div>
        <h5 class="card-title">Sejour actuel</h5>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <td>Provenance </td>
                    <td class="fw-bold"> @Model.provenance_pays - @Model.provenance_ville  </td>
                </tr>
                <tr>
                    <td>Destination (Residence atuelle) </td>
                    <td class="fw-bold"> @Model.destination_pays - @Model.destination_ville  </td>
                </tr>
                <tr>
                    <td>Motif </td>
                    <td class="fw-bold"> @Model.motif</td>
                </tr>
                <tr>
                    <td>Période </td>
                    <td class="fw-bold">
                        Du @Model.date_debut.ToShortDateString()
                        @(Model.date_fin.HasValue ? "Au "+ Model.date_fin.Value.ToShortDateString(): " - " )

                        @Html.Partial("_ExpirationEtat", Model.Expired)
                    </td>
                </tr>



            </tbody>
        </table>
    </div>
</div>