@model StrangerRecord.Models.ViewModel.EditIdentificationViewModel
@using StrangerRecord.Service;

@{
    ViewBag.Title = "Identité [Modifier]";
}
 

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.entityId)
    @Html.HiddenFor(model => model.currentCarteId)

    <div class="card mb-2">
        <div class="card-header">  <h4>@ViewBag.Title</h4>   </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="row mb-2">
                        @Html.LabelFor(model => model.nom, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row mb-2">
                        @Html.LabelFor(model => model.postenom, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.postenom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.postenom, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-2">
                        @Html.LabelFor(model => model.prenom, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-2">
                        @Html.LabelFor(model => model.genre, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.genre, DataProvider.GenderFormChoiceList, new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.genre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-2">
                        @Html.LabelFor(model => model.date_naissance, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.date_naissance, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.date_naissance, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-2">
                        @Html.LabelFor(model => model.profession, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.profession, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.profession, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="col">

                    <div class="row mb-2">
                        @Html.LabelFor(model => model.paysOrigine, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.paysOrigine, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.paysOrigine, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-2">
                        @Html.LabelFor(model => model.villeOrigine, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.villeOrigine, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.villeOrigine, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-2">
                        @Html.LabelFor(model => model.dateEntreeRdc, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.dateEntreeRdc, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.dateEntreeRdc, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="fw-bold m-2">Contacts </div>
                    <div class="row mb-2">
                        @Html.LabelFor(model => model.ContactMail, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ContactMail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContactMail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-2">
                        @Html.LabelFor(model => model.ContactTelephone, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ContactTelephone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContactTelephone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer text-end p-2">
            <button class="btn btn-primary">Enregister</button>
            <a href="@Url.Action("Details","Carte",new { id = Model.currentCarteId, area ="Identification" })" class="btn btn-light">Annuler</a>
        </div>
    </div>
}
